.done {
      text-decoration: line-through;
      color: red;
}


.todo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

ul {
  list-style-type: circle;
}